*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:black;
color:white;
}

.ki{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:black;
z-index:1000;
}

header{
display:flex;
}

.logo{
font-size:30px;
font-weight:bold;
}

.logo span{
color:#ff004f;
}

nav a{
color:white;
text-decoration:none;
margin-left:30px;
font-size:18px;
}

nav a:hover{
color:#ff004f;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:120px 80px 80px;
}

.hero-text h3{
color:lightgray;
}

.hero-text h1{
font-size:60px;
margin:10px 0;
}

.hero-text span{
color:#ff004f;
}

.hero img{
width:400px;
border-radius:10px;
position:relative;
z-index:1;
}

.about{
padding:80px;
background:#111;
}

.about h2{
font-size:40px;
margin-bottom:20px;
color:#ff004f;
}

.about p{
font-size:18px;
line-height:1.6;
color:#ccc;
}

.services{
padding:80px;
}

.services h1{
font-size:50px;
margin-bottom:40px;
}

.services-container{
display:flex;
gap:30px;
}

.service-card{
background:#262626;
padding:40px;
border-radius:10px;
width:300px;
transition:0.4s;
}

.service-card h2{
margin:20px 0;
}

.service-card p{
color:#ccc;
margin-bottom:20px;
}

.service-card a{
color:white;
text-decoration:none;
}

.service-card.active{
background:#ff004f;
}

.service-card:hover{
background:#ff004f;
transform:translateY(-10px);
}

.contact{
padding:80px;
background:black;
position:relative;
z-index:5;
}

.contact-container{
display:flex;
gap:50px;
}

.contact-left{
width:40%;
}

.contact-left h1{
font-size:50px;
margin-bottom:20px;
}

.contact-right{
width:60%;
}

.contact-right input,
.contact-right textarea{
width:100%;
padding:15px;
margin-bottom:20px;
background:#262626;
border:none;
border-radius:5px;
color:white;
}

.submit-btn{
padding:12px 40px;
background:#ff004f;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

.social-icons{
display:flex;
align-items:center;
gap:15px;
margin-top:15px;
position:relative;
z-index:999;
}

.social-icons a{
width:50px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
font-size:22px;
color:white;
text-decoration:none;
transition:0.3s;
}

.instagram{
background:#E1306C;
}

.facebook{
background:#1877F2;
}

.linkedin{
background:#0A66C2;
}

.twitter{
background:#000000;
}

.social-icons a:hover{
transform:scale(1.2);
box-shadow:0 0 15px white;
}
